#Latest versions as of 12/11/2012
#Core packages
distribute
django >=1.5,<1.6
South
django-allauth
dj-database-url
psycopg2

#Testing Packages
selenium

#Dev packages
django-debug-toolbar
#django-extensionsp