{% verbatim %}<!DOCTYPE html>
<html lang="en">
  {% block head %}
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ STATIC_URL }}ico/favicon.png">
    
    <title>{% block title %}{% endverbatim %}{% spaceless %}
  
{{project_name}}

{% endspaceless %}{% verbatim %}{% endblock title %}</title>    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
    {% block css %}
      <!-- Bootstrap core CSS -->
      <link href="{{ STATIC_URL }}vendor/bootstrap/
css/bootstrap.css" rel="stylesheet">
      <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet">
      {% block extra-css %}{% endblock extra-css %}
    {% endblock css %}
    
    {% comment %}
      JS is at bottom to improve page load speed, any urgent js should go in extra-head 
    {% endcomment %}

    {% block extra-head %}{% endblock extra-head %}
  </head>
  {% endblock head %}
  
  
  <body>
    {% block navbar %}
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
              {% endverbatim %}{% spaceless %}

{{ project_name }}
              
{% endspaceless %}{% verbatim %}
              <span class="logo1">A</span><span class="logo2">Django</span><span class="logo3">Site</span>
            </a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/">About</a></li>
              <li><a href="/">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {{user}} 
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <!--
                    <li><a href="/accounts/profile/">My Profile</a></li>
                    <li class="divider"></li>
                    -->
                    <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
                    <li><a href="{% url 'account_change_password' %}">Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
                  </ul>
                </li>              
              {% else %}
                <li>
                  <a href="{% url 'account_login' %}">Sign In</a>
                </li>
                <li>
                  <a href="{% url 'account_signup' %}">Create New Account</a>
                </li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->        
        </div>
      </div>
    {% endblock navbar %}
    <div class="container">
      {% block canvas %}
      {% block content %}
        
      {% endblock content %}
      {% endblock canvas %}
    </div> <!-- /container -->
    
    {% block js %}
      <!-- Javascript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      {% if SERVE_MEDIA_LOCALLY %}
        <script src="{{ STATIC_URL }}js/jquery-1.10.2.js"></script>
      {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      {% endif %}    
      
      <script src="{{ STATIC_URL }}vendor/bootstrap/
js/bootstrap.js"></script>
      {% block extra-js %}{% endblock extra-js %}
    {% endblock js %}
    
    {% block analytics %}
      <script type="text/javascript">
        //Google Universal Analytics
        //UNCOMMENT AND SET VARIABLES
        {% comment %}
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'SET_ACCOUNT_ID', 'SET_DOMAIN_NAME');
          ga('send', 'pageview');
        {% endcomment %}
      </script>    
    {% endblock analytics %}
  </body>
</html>
{% endverbatim %}